
<form action="~/AddMeter/AddMeterMethod" method="post">
    <div class="grid-container" style="width: 50%">
        <div class="grid-item" style="grid-column:1; grid-row:1">
            Meter ID:
            <input type="text" name="MeterId" />
        </div>
        <div class="grid-item" style="grid-column:1; grid-row:2">
            Meter state:
            <input type="text" name="MeterState" />
        </div>
        <div class="grid-item" style="grid-column:1; grid-row:3; background-color:white">
            <input type="submit" class="submit" value="Submit" />
        </div>
    </div>
</form>