<style>
    body {
        background-image: url("https://thumbs.dreamstime.com/b/electric-meter-electric-pole-background-sunset-outdoor-waterproof-single-phase-inductive-kilowatt-hour-meter-installed-104574633.jpg");
        background-size: auto;
    }

    table {
        background-color: snow;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        width: 50%;
    }

    h1 {
        font-family: 'Maiandra GD';
        color: snow;
        text-align: center;
        vertical-align: middle;
        font-size: 50px;
    }

    td {
        font-family: 'Maiandra GD';
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #dddddd;
        padding: 8px;
    }

    tr {
        background-color: # #dddddd;
    }

    h3 {
        font-family: 'Maiandra GD';
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        color: #ff1a1a;
    }

    input {
        height: 30px;
        text-align: center;
        vertical-align: middle;
        font-family: 'Times New Roman';
        font-size: medium;
    }

        input.check {
            margin-left: auto;
            margin-right: auto;
        }

    a {
        color: #1cc49d;
    }

        a.option {
            font-size: 140%;
            padding: 3px;
            background-color: black;
            margin: 4px;
        }

    input[type=radio] {
        border: 0px;
        width: 15%;
        height: 2em;
    }

    input.submit {
        color: #burlywood;
        background-color: burlywood;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        height: 3em;
        width: 8em;
        font-size: large;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
    }


    div.grid-container {
        background-color: snow;
        display: grid;
        padding: 10px;
        border-style: solid;
        margin: 10px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    div.grid-item {
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        text-align: center;
        display: inline-grid;
        border-style: solid;
        margin: 1px;
    }
</style>
<h3 style="color:red;">@ViewData["Error"]</h3>
<form action="~/AddMeter/AddMeterMethod" method="post">
    <div class="grid-container" style="width: 50%">
        <div class="grid-item" style="grid-column:1; grid-row:1">
            Meter ID:
            <input type="number" name="MeterId" />
        </div>
        <div class="grid-item" style="grid-column:1; grid-row:2">
            Meter state:
            <input type="text" name="MeterState" />
        </div>
        <div class="grid-item" background-color:white">
            <input type="submit" class="submit" value="Submit" />
        </div>
    </div>
</form>