<style>
    body {
        background-image: url("https://thumbs.dreamstime.com/b/electric-meter-electric-pole-background-sunset-outdoor-waterproof-single-phase-inductive-kilowatt-hour-meter-installed-104574633.jpg");
        background-size: auto;
    }
</style>
<p>Welcome</p>
<a href="~/AddMeter/AddMeterView">Add meter</a><br />
<a href="~/AddMeterState/AddMeterStateView">Add meter state view</a>